# .env.example

# Database URL
DATABASE_URL=''

# JWT Secret
JWT_SECRET=''

# API Base URL
API_URL=''

# Frontend Base URL
FRONTEND_URL=''

# Stripe Configurations
STRIPE_PUBLIC_KEY=''
STRIPE_SECRET_KEY=''

# Meta Configurations
META_APP_ID=''
META_APP_SECRET=''

# Google Configurations
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# Email Configurations
EMAIL_SERVICE=''
EMAIL_USER=''
EMAIL_PASS=''

# Supabase Configurations
SUPABASE_URL=''
SUPABASE_SECRET=''
